@import 'bootstrap-sprockets'
@import 'bootstrap'
@import 'pins'

body
  height: 100%

.login-pic
  background-image: url("https://bree1972.files.wordpress.com/2010/06/rocks2.jpg")
  background-size: cover
  height: 100em
.link-sign-in
  position: relative
  background-size: cover
  background-color: #111
  opacity: 0.5
  height: 100em
  width: 100%
.link-sign-in a
  color: white
.sign-in
  position: absolute
  top: 5em
ul.pinsList
  margin: 20px
  li.each-pic
    background: rgba(81, 239, 165, 0.92)
    border-radius: 5px
    border-bottom: 2px solid gray
    list-style-type: none
    padding: 5px
    text-align: center
    margin: 20px 20% 20px 20%
    img
      display: block
      margin: 0px auto
      border: solid 5px #256F5B
      border-radius: 3px

.nav
  border-bottom: solid 1px lightgrey
  text-align: center
  h3
    margin: 5px
    a
      color: black
.symbol
  height: 30px
  width: 40px
  margin: 0px 10px 0px 10px
